<ion-view title="Advertencia" hide-back-button="true" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 0px; height: 40px;"></div>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <div class="list card" id="advertencia-card21">
      <div>
        <center>
          <b></b>
          <h4 style="color:red">
            <b>
              <span style="color:red">⚠</span> Advertencia</b>
          </h4>
        </center>

        <center>
          <p>El consumo de alcohol es perjudicial para la salud. Al aceptar confirma ser responsable de las posibles repercusiones que podría generar la utilización de KAMPAII y autoriza que sus datos sean utilizados por terceros.</p>
        </center>
      </div>
    </div>
    <a ui-sref="tabsController.usuario_tab1({})" id="advertencia-button6" ng-click="advertencia()" class="button button-positive button-block">Aceptar</a>
  </ion-content>
</ion-view>