<ion-view title="Alcoholímetro" hide-nav-bar="true" id="page8">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <h1 id="alcoholMetro-heading3" style="color:#000000;text-align:center;">Alcoholímetro</h1>
    <a ui-sref="tabsController.informaciNPersonal({})" id="alcoholMetro-button10" style="font-weight:300;" class="button button-energized button-small button-block">Menu</a>
  </ion-content>
</ion-view>