<ion-view title="Información personal" hide-nav-bar="true" hide-back-button="true" id="page9" style="background-color:#7DD1B4;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 1.97443px;"></div>
    <h1 id="informaciNPersonal-heading4" style="color:#000000;text-align:center;">Información</h1>
    <ion-list id="informaciNPersonal-list8">
      <ion-item class="item-divider" id="informaciNPersonal-list-item-divider4"> Nombre</ion-item>
      <ion-list id="informaciNPersonal-list7">
        <ion-item class="item-icon-right" id="informaciNPersonal-list-item24">{{data.Nombre}}
          <i class="icon ion-man icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="informaciNPersonal-list-item-divider5"> Contraseña</ion-item>
        <ion-item class="item-icon-right" id="informaciNPersonal-list-item25">{{data.Password}}
          <i class="icon ion-key icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="informaciNPersonal-list-item-divider6"> Email</ion-item>
        <ion-item class="item-icon-right" id="informaciNPersonal-list-item26">{{data.Email}}
          <i class="icon ion-email icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="informaciNPersonal-list-item-divider7"> Peso</ion-item>
        <ion-item class="item-icon-right" id="informaciNPersonal-list-item27">{{data.Peso}}
          <i class="icon ion-alert icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="informaciNPersonal-list-item-divider8"> Cumpleaños</ion-item>
        <ion-item class="item-icon-right" id="informaciNPersonal-list-item28">{{data.Fecha}}
          <i class="icon ion-android-calendar icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <a ui-sref="login({})" id="informaciNPersonal-button12" ng-click="cerrarSesion()" class="button button-assertive button-block">Cerrar Sesión</a>
  </ion-content>
</ion-view>