<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" nav-transition="none" id="page5" style="background-color:#7DD1B4;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 60px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/VrFCD6VATe2xqF0i03HE_Titulo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 55px;"></div>
      <label class="item item-input" id="login-input1">
        <span class="input-label">Email</span>
        <input type="email" placeholder="" ng-model="data.email">
      </label>
      <label class="item item-input" id="login-input2">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="" ng-model="data.password">
      </label>
      <button id="login-button1" ng-click="login()" class="button button-stable button-block">Log in</button>
    </form>
    <a ui-sref="signup()" id="login-button2" class="button button-positive button-block button-clear">Registrate</a>
  </ion-content>
</ion-view>