<ion-view title="Registro" hide-nav-bar="true" id="page4" style="background-color:#78D4C1;">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <h1 id="registro-heading1" style="color:#000000;text-align:center;">Registro</h1>
    <a ui-sref="tabsController.informaciNPersonal({})" id="registro-button11" style="font-weight:300;" class="button button-energized button-small button-block">Menu</a>
    <div class="list card" id="registro-card22">
      <ion-item class="item-avatar" id="registro-list-item13">
        <img src="img/E2RfL8ZQMiYKEXR40aJA_alcohol_icons.jpg">
        <h2>Ingreso</h2>
      </ion-item>
      <form id="registro-form4" class="list">
        <label class="item item-select" id="registro-select1">
          <span class="input-label">Bebida consumida</span>
          <select ng-model="data.size" ng-options="size.id as size.label for size in sizes"></select>
        </label>
        <ion-toggle toggle-class="toggle-positive" id="registro-toggle1" ng-model="data.shot">Shot</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="registro-toggle2" ng-model="data.vaso">Vaso</ion-toggle>
        <label class="item item-input" id="registro-input11">
          <span class="input-label">Cantidad consumida</span>
          <input type="number" placeholder="">
        </label>
        <ion-list id="registro-datos">
        </ion-list>
      </form>
    </div>
    <div id="registro-button-bar1" class="button-bar">
      <button id="registro-button13" ng-click="add()" class="button button-stable button-block">Añadir</button>
    </div>
  </ion-content>
</ion-view>