<ion-view title="Signup" hide-nav-bar="true" id="page6" style="background-color:#A2E96B;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dGD7QSNhSsGZPIglXej3_Titulo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="" ng-model="data.usuario">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="" ng-model="data.nombre">
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="data.email">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Fecha nacimiento</span>
          <input type="date" placeholder="" ng-model="data.fecha">
        </label>
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Peso</span>
          <input type="number" placeholder="" ng-model="data.peso">
        </label>
      </ion-list>
      <a ui-sref="login({})" id="signup-button3" ng-click="signupo()" class="button button-stable button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>