<ion-view title="Usuario" hide-nav-bar="true" hide-back-button="true" id="page2" style="background-color:#7DD1B4;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="usuario-heading2" style="color:#000000;text-align:center;">Usuario</h1>
    <a ui-sref="tabsController.informaciNPersonal({})" id="usuario-button15" style="font-weight:300;" class="button button-energized button-small button-block">Menu</a>
    <ion-list id="usuario-list4">
      <ion-item class="item-avatar" id="usuario-list-item21">
        <h2>Información</h2>
        <p>{{data.Usuario}}</p>
      </ion-item>
      <ion-item class="item-divider" id="usuario-list-item-divider3"> Statistics</ion-item>
      <ion-list id="usuario-list6">
        <ion-item class="item-icon-right" id="usuario-list-item19">Mean Spending: {{data.MeanSpending}}
          <i class="icon ion-social-usd icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="usuario-list-item20">Mean Shots: {{data.MeanShots}}
          <i class="icon ion-android-bar icon-accessory"></i>
        </ion-item>
      </ion-list>
      <ion-item class="item-thumbnail-left" id="usuario-list-item11">
        <h2>Mean consumption</h2>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col">
        <div class="creator-container"></div>
      </div>
      <div class="col">
        <div class="creator-container"></div>
      </div>
    </div>
  </ion-content>
</ion-view>